<!DOCTYPE html>
<meta charset="utf-8">
  <style>

    .axis path,
    .axis line {
        fill: none;
        stroke: white;
        shape-rendering: crispEdges;
    }

    .axis text {
      fill: white;
        font-family: sans-serif;
        font-size: 11px;
    }

    #yaxis text,
    #yaxis path {
      fill: black;
    }

    .label {
      font-family: sans-serif;
      fill: black;
      font-weight: bold;
      pointer-events: none;
    }

    .title {
      font-family: Lato;
      fill: white;
      font-size: 18px;
    }

    div.tooltip { 
        position: absolute;     
        text-align: center;         
        padding: 10px;      
        background: rgb(200,200,200); 
        border: 0px;    
        border-radius: 8px;
        pointer-events: none;     
    }

    .ttipTable {
      /*text-align: right;*/
    }

    .ttipText {
      text-align: left;
      font: 14px sans-serif bold;
      font-weight: bold;
    }

    .ttipTitle {
      text-align: right;
      font: 14px sans-serif;
    }

  </style>
<body>

<!-- References 

// Moving charts 
https://gist.github.com/mbostock/1642874


-->

<div id="plot"></div>


<script src="//d3js.org/d3.v3.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

  <script type='text/javascript'>

  var pheight = 600;
  var pwidth = 600;
  var xcushion = 0.15;
  var ycushion = 0.15;

  // var minh = (ycushion / 2) * pheight;
  var minh = 90;
  var maxh = (1-(ycushion / 2)) * pheight;
  var minw = (xcushion / 2) * pwidth;
  var maxw = (1-(xcushion / 2)) * pwidth;

  var svg = d3.select("#plot")
        .append('svg')
        .attr({
          width: pwidth,
          height: pheight
        });

  // init tooltip
  // toolltip adapted from http://bl.ocks.org/d3noob/a22c42db65eb00d4e369
  var ttip = d3.select('body').append("div")  
      .attr("class", "tooltip")     
      .style("opacity", 0);

  var ttipTable = ttip.append("table")
    .attr("class","ttipTable");

  var row = ttipTable.append('tr');
  row.append('td').attr('class','ttipTitle').text("Site");
  var ttipSiteName = row.append('td')
    .attr('id','siteName')
    .attr('class','ttipText');

  var row = ttipTable.append('tr');
  row.append('td').attr('class','ttipTitle').text("Visits");
  var ttipSiteVisits = row.append('td')
    .attr('id','siteVisits')
    .attr('class','ttipText');

  var row = ttipTable.append('tr');
  row.append('td').attr('class','ttipTitle').text("Rank");
  var ttipRank = row.append('td')
    .attr('id','rank')
    .attr('class','ttipText');

  svg.append('rect')
    .attr({
      class: 'outline',
      x: 0,
      y: 0,
      height: pheight,
      width: pwidth,
      stroke: 'black',
      fill: 'black'
    });

    // title
  svg.append("text")
    .attr({
      x: pwidth / 2, 
      y: minh * .4,
      'text-anchor': 'middle',
      class: 'title'
    })
    .text("Top 20 Hashtags by Volume");

  // x-axis label
  svg.append("text")
    .attr({
      x: pwidth / 2, 
      y: minh *.4 + 18,
      'text-anchor': 'middle',
      style: 'font-size:12px;fill:white;'
    })
    .text("Base10 Log of Visits");

tick();
function tick() {

  $.post('/', function(value) {
    
    var newElements = JSON.parse(value);
    console.log(newElements);
    console.log(newElements);

    // var data = newElements;

    var sortedData= newElements.sort(function(a,b){return d3.descending(parseInt(a.count,10), parseInt(b.count,10)); }).filter(function(d){return d.count >= 1;}).slice(0,20);

    var yScale = d3.scale.ordinal()
      .domain(d3.range(sortedData.length))
      .rangeBands([minh, maxh], 0.1);

    var xScale = d3.scale.log()
      .domain([ 1, d3.max(sortedData, function(d){return parseInt(d.count,10);}) ])
      .range([minw, maxw]);

    var xAxis = d3.svg.axis()
      .scale(xScale) 
      .orient('top')
      .ticks(25);

    var yAxis = d3.svg.axis()
      .scale(yScale)
      .orient('left');

    var bars = svg.selectAll('rect.bar')
        .data(sortedData);

    var labels=svg.selectAll(".label")
        .data(sortedData);

    // bar graph bars
    bars.enter()
      .append('g')
      .append('rect')
      .attr('class','bar')
      .attr('y', function(d, i){ return yScale(i); })
      .attr('x', minw)
      .attr('height', yScale.rangeBand())
      .attr('width', function(d){ return xScale(d.count) - minw; })
      .attr('fill', 'rgb(240,0,0)')
      .on('mouseover', function(d,i){         
        // set tooltip text values
        ttipRank.text(i);         
        ttipSiteName.text(d.tag);
        ttipSiteVisits.text(d.count);
        //  enter tooltip
        ttip.transition()
          .duration(50)
          .style({
            'opacity':.95,
            'left': (d3.event.pageX) + 'px',
            'top': (d3.event.pageY - 28) + 'px',
          })
        // highlight bar
        d3.select(this)
          .attr('fill', 'rgb(100,200,240)');
      })
      .on('mouseout', function(){
        // exit tooltip
        ttip.transition()
          .duration(500)
          .style({opacity: 0})
        // unhighlight bar
        d3.select(this)
          .transition()
          .duration(50)
          .attr('fill', 'rgb(240,0,0)');
      });

      bars.transition()
            .attr('y', function(d, i){ return yScale(i); })
            .attr('height', yScale.rangeBand())
            .attr('width', function(d){ return xScale(d.count) - minw; });

      bars.exit()
        .remove();

      // bar graph labels
      labels.enter()
        .append('text')
        .attr({
          class: 'label',
          x: minw + 5,
          y: function(d, i){ return yScale(i) + yScale.rangeBand() - 4; }
        })
        .style('font-size', function(){
          if( yScale.rangeBand() >= 11 ){
            return yScale.rangeBand() - 5;
          } else {
            return 0;
          }
        })
        .text(function(d){return d.tag;});

        labels.transition()
            .attr({
              x: minw + 5,
              y: function(d, i){ return yScale(i) + yScale.rangeBand() * .7; }
            })
            .style('font-size', function(){
              if( yScale.rangeBand() >= 6 ){
                return yScale.rangeBand() * .7;
              } else {
                return 0;
              }
            })
            .style('opacity', function(){
              if( yScale.rangeBand() >= 6 ){
                return 1;
              } else {
                return 0;
              }
            })
            .text(function(d){return d.tag;});

      labels.exit()
        .remove();

      //y axis
      d3.selectAll('.axis')
        .remove();

      d3.selectAll('.tick text')
        .remove();

      svg.append('g')
        .call(yAxis)
        .attr('class', 'axis')
        .attr('id','yaxis')
        .attr('transform', 'translate(' + minw + ',0)');

      // x axis
      svg.append('g')
        .call(xAxis)
        .attr('class', 'axis')
        .attr('transform', 'translate(0,' + minh + ')')
        // powers of 10 code borrowed from http://bl.ocks.org/mbostock/6738229
        .selectAll(".tick text")
            .text(null)
            .filter(powerOfTen)
          .text(10)
            .append("tspan")
            .attr("dy", "-.7em")
          .text(function(d) { return Math.round(Math.log(d) / Math.LN10); });

      function powerOfTen(d) {
        return d / Math.pow(10, Math.ceil(Math.log(d) / Math.LN10 - 1e-12)) === 1;
      };

      // // title
      // svg.append("text")
      //   .attr({
      //     x: pwidth / 2, 
      //     y: minh * .4,
      //     'text-anchor': 'middle',
      //     class: 'title'
      //   })
      //   .text("Visits to Top 50 Sites in My Recent Web History");

      // // x-axis label
      // svg.append("text")
      //   .attr({
      //     x: pwidth / 2, 
      //     y: minh *.4 + 18,
      //     'text-anchor': 'middle',
      //     style: 'font-size:12px;fill:white;'
      //   })
      //   .text("Base10 Log of Visits");

        tick();

  });
  
}

</script>