<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <!-- Jinja2 Templating -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">
    <script src="{{ url_for('static', filename='bower_components/modernizr/modernizr.js') }}"></script>
</head>

<body onload="initViz();">
    <!-- Title -->
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <div class="row">
                    <div class="large-8 columns">
                        <h2>Hashtag Sentiment By Date</h2>
                    </div>
                    <div class="large-4 columns">
                        <h2 style="text-align:right;"><a href="{{ url_for('renderHomepage')}}">Home</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="row">
        <div class="large-12 columns">
            <!-- Dashboard -->
            <p>
                <div id="tableauViz" style="width:60em; height:60em;"></div>
            </p>
        </div>
    </div>

        <!-- Miscellaneous JavaScript -->
        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='bower_components/foundation/js/foundation.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
        <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
        <script>
        function initViz() {
            var placeholderDiv = document.getElementById("tableauViz");
            var url = "https://public.tableau.com/views/Hash_Sentiment/Hash_Sentiment?:embed=y&:display_count=yes&:showTabs=y";
            var options = {
                width: placeholderDiv.offsetWidth,
                height: placeholderDiv.offsetHeight,
                hideTabs: true,
                hideToolbar: true,
                onFirstInteractive: function() {
                    workbook = viz.getWorkbook();
                    activeSheet = workbook.getActiveSheet();
                }
            };
            viz = new tableau.Viz(placeholderDiv, url, options);
        }

        window.addEventListener('resize', resizeViz);

        function resizeViz() {
            var width = document.getElementById("tableauViz").clientWidth;
            var height = document.getElementById("tableauViz").clientHeight;
            viz.setFrameSize(width, height);
        }
        </script>
</body>

</html>
